<!doctype html>
<html ng-app="Magma">
	<head>
	  <title mg-bind="app.title">{{app.title}}</title>
		<meta name="description" ng-attr-content="\{{app.description}}" content="{{app.description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<base href="/">

		<!-- build:css({app,.tmp}) styles/main.css -->
		<link rel="stylesheet" href="/components/bootswatch/paper/bootstrap.css">
		<link rel="stylesheet" href="/styles/main.css">
		<!-- endbuild -->
	</head>
	<body>
		<progressbar value="http.progress" ng-if="http.loading" class="progress-animate"></progressbar>
		<header>
			<div class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Magma</a>
					</div>
					<form class="navbar-form navbar-left" action="/search/" method="get" mg-submit="handlers.search()" ng-controller="Header_controller" name="SearchForm">
						<input name="q" ng-model="models.q" type="text" class="form-control col-lg-8" placeholder="Search" required>
					</form>
					<div>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/about/">About</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<section>
			<div class="container view-animate-container">
				<div mg-view class="view-animate">
					{{{body}}}
				</div>
			</div>
		</section>

		<!-- build:js scripts/vendor.js -->
		<script src="/components/angular/angular.js"></script>
		<script src="/components/angular-animate/angular-animate.js"></script>
		<script src="/components/angular-route/angular-route.js"></script>
		<script src="/components/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/app.js -->
		<script src="/scripts/app.js"></script>
		<script src="/scripts/controllers/Header_controller.js"></script>
		<script src="/scripts/directives/mgView_directive.js"></script>
		<script src="/scripts/directives/mgBind_directive.js"></script>
		<script src="/scripts/directives/mgInclude_directive.js"></script>
		<script src="/scripts/directives/mgSubmit_directive.js"></script>
		<script src="/scripts/directives/mgScope_directive.js"></script>
		<script src="/scripts/directives/books_directive.js"></script>
		<script src="/scripts/services/mgViewInterceptor_service.js"></script>
		<script src="/scripts/services/progressInterceptor_service.js"></script>
		<!-- endbuild -->

		<script>
			angular.module('Magma')
				{{#each constants}}
				.constant('{{@key}}', {{{this}}});
				{{/each}}
		</script>
	</body>
</html>