<!doctype html>
<html ng-app="MagmaDemo">
	<head>
	  <title mg-bind="app.title">{{app.title}}</title>
		<meta name="description" ng-attr-content="\{{app.description}}" content="{{app.description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Twitter card -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@vilmosioo">
		<meta name="twitter:title" ng-attr-content="\{{app.title}}" content="{{app.title}}">
		<meta name="twitter:description" ng-attr-content="\{{app.description}}" content="{{app.description}}">
		<meta name="twitter:image" ng-attr-content="\{{app.image}}" content="{{app.image}}">
		<meta name="twitter:url" ng-attr-content="\{{app.url}}" content="{{app.url}}">

		<!-- Facebook tags -->
		<meta property="og:title" ng-attr-content="\{{app.title}}" content="{{app.title}}">
		<meta property="og:type" content="article">
		<meta property="og:image" ng-attr-content="\{{app.image}}" content="{{app.image}}">
		<meta property="og:url" ng-attr-content="\{{app.url}}" content="{{app.url}}">
		<meta property="og:description" ng-attr-content="\{{app.description}}" content="{{app.description}}">

		<base href="/">

		<!-- build:css({app,.tmp}) styles/main.css -->
		<link rel="stylesheet" href="/components/bootswatch/paper/bootstrap.css">
		<link rel="stylesheet" href="/components/github-markdown-css/github-markdown.css">
		<link rel="stylesheet" href="/styles/main.css">
		<!-- endbuild -->
	</head>
	<body>
		<progressbar value="http.progress" ng-if="http.loading" class="progress-animate"></progressbar>
		<header>
			<div class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Magma</a>
					</div>
					<form class="navbar-form navbar-right" action="/search/" method="get" ng-controller="Header_controller" name="SearchForm" role="search">
						<input name="q" ng-model="models.q" type="text" class="form-control" placeholder="Search" required mg-submit="handlers.search()">
					</form>
				</div>
			</div>
		</header>

		<section>
			<div class="container view-animate-container">
				<div mg-view class="view-animate">
					{{{body}}}
				</div>
			</div>
		</section>

		<!-- build:js scripts/vendor.js -->
		<script src="/components/angular/angular.js"></script>
		<script src="/components/angular-animate/angular-animate.js"></script>
		<script src="/components/angular-route/angular-route.js"></script>
		<script src="/components/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/magma.js -->
		<script src="/magma/app.js"></script>
		<script src="/magma/directives/mgView_directive.js"></script>
		<script src="/magma/directives/mgBind_directive.js"></script>
		<script src="/magma/directives/mgInclude_directive.js"></script>
		<script src="/magma/directives/mgSubmit_directive.js"></script>
		<script src="/magma/directives/mgScope_directive.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/app.js -->
		<script src="/scripts/app.js"></script>
		<script src="/scripts/controllers/Header_controller.js"></script>
		<script src="/scripts/directives/books_directive.js"></script>
		<script src="/scripts/directives/book_directive.js"></script>
		<script src="/scripts/services/appInterceptor_service.js"></script>
		<script src="/scripts/services/progressInterceptor_service.js"></script>
		<script src="/scripts/services/mgViewInterceptor_service.js"></script>
		<!-- endbuild -->

		<script>
			angular.module('MagmaDemo')
				{{#each constants}}
				.constant('{{@key}}', {{{this}}})
				{{/each}}
				{{#if production}}
				.config(['$compileProvider', function ($compileProvider) {
					$compileProvider.debugInfoEnabled(false);
				}]);
				{{/if}}
		</script>
	</body>
</html>