
<h2>{{name}}</h2>

{{#if image}}
	<img class="book_cover" src="{{image}}" alt="{{name}}">
{{/if}}

{{#if fans_count}}<p><strong>Number of fans</strong> {{fans_count}}</p>{{/if}}

<p>{{{about}}}</p>

<h3>Books</h3>
<div class="author-books clearfix">
	<div mg-include="'/views/templates/books.html?author={{id}}'">
		{{>templates/books}}
	</div>
</div>