
<h3>{{name}}</h3>

{{#if image}}
	<img class="book_cover" src="{{image}}" alt="{{name}}">
{{/if}}

{{#if fans_count}}<p><strong>Number of fans</strong> {{fans_count}}</p>{{/if}}

<p>{{{about}}}</p>

<div class="clearfix"></div>
<h4>Books</h4>
<div class="author-books clearfix">
	<div ng-include="'/views/templates/books.html?author={{id}}'"></div>
</div>