<div books mg-scope="{{json 'books' 'pagination'}}">
	<h1>{{title}}</h1>
	{{>templates/pagination}}
	<div class="search-results">
		<div mg-include="templates.books">
			{{>templates/books}}
		</div>
	</div>
	{{>templates/pagination}}
</div>

{{!--
<ul class="list-group">
	{{#each books}}
		<a href="/book/{{id}}" class="list-group-item search-item clearfix" id="book-{{id}}">
			{{#if image}}<img src={{image}} alt="{{title}}">{{/if}}
			<h4 class="list-group-item-heading">{{title}}</h4>
			<p class="list-group-item-text">{{summary}}</p>
		</a>
	{{/each}}
</ul>
--}}