<h1>{{title}}</h1>
{{>templates/books}}
{{!--
<ul class="list-group">
	{{#each books}}
		<a href="/book/{{id}}" class="list-group-item search-item clearfix" id="book-{{id}}">
			{{#if image}}<img src={{image}} alt="{{title}}">{{/if}}
			<h4 class="list-group-item-heading">{{title}}</h4>
			<p class="list-group-item-text">{{summary}}</p>
		</a>
	{{/each}}
</ul>
--}}